.input-group {
   position: relative;
   height: 40px;
   margin-bottom: 20px;

   .input {
      height: 40px;
      width: 100%;
      padding-left: 37px;
      background: #FFFFFF;
      border: 1px solid #EBEBF0;
      border-radius: 2px;
      color: $secondary-text-color;
      outline: none;
   }

   .input:focus {
      border: 1px solid $primary-color;
   }

   svg {
      position: absolute;
      top: 13px;
      left: 13px;
   }

   a {
      position: absolute;
      top: 13px;
      right: 13px;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #4F4F4F;
      cursor: pointer;

   }


}

.label {
   display: flex;
   align-items: center;
   gap: 7px;
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   display: flex;
   align-items: center;
   color: #252627;

   input {
      width: 16px;
      height: 16px;
      border: 1px solid #CECECE;
      border-radius: 2px;
   }
}